* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.container {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  background-color: #d43338;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
  padding: 20px 30px;
}
.btn span {
  margin-right: 125px;
}
.btn-icon {
  background-image: url("../img/left-arrow.svg");
  width: 30px;
  height: 30px;
  display: block;
  float: right;
}
.header {
  position: relative;
  background-image: url("../img/header-bg.jpg");
  height: 100vh;
  color: #fff;
}
.header-inner {
  padding-top: 70px;
  padding-bottom: 150px;
  z-index: 2;
}
.header-main {
  padding-top: 130px;
}
.h1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 110%;
  max-width: 730px;
  margin-bottom: 50px;
}
.h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
}
